* {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

/*

*/

body {
  display: flex;
  color: #FFFFFF;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #18172B;
}

.container {
  margin: 2rem;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: row;
  align-items: center;
  border-radius: .4rem;
  justify-content: center;
  backdrop-filter: blur(.5rem);
  background-color: rgba(255,255,255,.1);
}

.second {
  color: #FF9900;
}
.index {
  font-size: .6rem;
  margin: .4rem 0 .4rem .4rem;
}
.hour, .minute, .second {
  padding: .5rem;
  border-radius: .3rem;
}
.container, .hour, .minute, .second {
  box-shadow: 0 0 .5rem rgba(0,0,0,.5);
}

.asquare {
  left: 0;
  top: 50%;
  background-image: linear-gradient(180deg, #02CBFE, #0C32F6);
}
.bsquare {
  right: 0;
  bottom: 50%;
  background-image: linear-gradient(180deg, #FBCE26,#FC3725);
}
.asquare, .bsquare {
  z-index: -1;
  width: 25vw;
  height: 25vw;
  position: absolute;
  border-radius: 1rem;
  background-color: #FFFFFF;
}

.dot {
  bottom: 5rem;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  position: absolute;
  background-color: #FFFFFF;
}

.text {
  bottom: .5rem;
  font-size: .6rem;
  position: absolute;
}
.special {
  font-size: .6rem;
  color: #16CEF4;
}

@media only screen and (min-width: 768px) {
  * {
    font-size: 2.3rem;
  }
  .container {
    padding: 1.6rem 2.8rem;
    border-radius: .7rem;
  }
  .asquare, .bsquare {
    border-radius: 1.5rem;
  }
}